<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Notice Page</title>

<link rel="stylesheet" href="css/notice.css">

<style>
.hidden-content {
	display: none;
	padding: 10px;
	border: 1px solid #ccc;
	margin-top: 10px;
}
</style>

<script>
function showHiddenContent(event) {
    event.preventDefault();
    var csseq = event.currentTarget.getAttribute('data-csseq');
    var hiddenContent = document.getElementById('hiddenContent_' + csseq);
    
    if (hiddenContent.style.display === 'none') {
        hiddenContent.style.display = 'block';
    } else {
        hiddenContent.style.display = 'none';
    }
}

    </script>
</head>
<body>
	<section layout:fragment="content" class="notice">
		<div class="page-title" id="wrap">
			<div class="container">
				<h3>공지사항</h3>
			</div>
		</div>

		<div id="board-search">
			<div class="container">
				<div class="search-window">
					<form action="">
						<div class="search-wrap">
							<label for="search" class="blind">공지사항 내용 검색</label> 
							<input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
							<button type="submit" class="btn btn-dark">검색</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div id="board-list">
			<div class="container">
				<table class="board-table">
					<thead>
						<tr>
							<th scope="col" class="th-num">번호</th>
							<th scope="col" class="th-title">제목</th>
							<th scope="col" class="th-date">등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="post : ${CSList}">
						    <td th:text="${post.csseq}"></td>
						    <td>
						        <a href="#!" th:text="${post.title}" th:attr="data-csseq=${post.csseq}" onclick="showHiddenContent(event)"></a>
						        <div th:id="'hiddenContent_' + ${post.csseq}" class="hidden-content">
						            <span th:text="${post.content}"></span>
						        </div>
						    </td>
						    <td th:text=" ${#dates.format(post.regdate, 'yyyy-MM-dd')}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</body>
</html>